---
name: Build Darwin

on:
  push:
    branches:
      - main
    paths:
      - "flake.lock"
  pull_request:
    paths:
      - "flake.lock"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build-darwin:
    runs-on: macos-latest

    strategy:
      matrix:
        flake:
          - name: macbook-air
            path: ".#darwinConfigurations.macbook-air.config.system.build.toplevel"

    permissions:
      id-token: "write" # for magic-nix-cache-action
      contents: "read" # for magic-nix-cache-action

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          diagnostic-endpoint: ""

      - name: Build Darwin configuration
        run: nix build ${{ matrix.flake.path }} -L
